#learn.section
  .contentBox
    .container
      %ul#difficulty
        %li
          %a.diff1{ :href => '#' }
            = t :beginner
        %li
          %a.diff2{ :href => '#' }
            = t :easy
        %li
          %a.diff3{ :href => '#' }
            = t :medium
        %li
          %a.diff4{ :href => '#' }
            = t :hard
        %li
          %a.diff5{ :href => '#' }
            = t :advanced

      .clear

      #controls
        .half-width.play
          %input.controls-button{ :type => 'button', :value => "#{t :play}" }
        .half-width.hint
          %input.controls-button{ :type => 'button', :value => "#{t :hint}" }

      .clear

      #progressBar
        %span.pbLabel

      #userinputwrapper
        %input#userinput{ :type => 'text' }

      #notifications
        #correctProgress
        #hint
        #translationHanzi
        #translationEnglish
        #instructions
          %input.next.controls-button{ :type => 'button', :value => "#{t :next}" }
          

      #question
        = render :partial => '/dictator/question'


#tools.section
  .contentBox
    .container
      = t :tools

#about.section
  .contentBox
    .container
      = t :about

