-# encoding: utf-8
#learn.section
  .contentBox
    .container

      #dropdown
        #tutorial
          %p
            Hey there! Chinese Dictator will help improve your Chinese listening skills.

          %ol
            %li Press 'Play' to hear an audio clip.
            %li
              Type the pinyin for the audio you heard. For example: "ni3 hao3".
              You must have correct tones!
            %li
              Use the hint button if you can't figure out the appropriate
              word or tone.
            %li
              Once you've successfully completed a dictation, press Enter to move on.

          %p If you want to study specific syllables that are challenging you, click 'Show syllable filters'.

        #syllables
          #initials
            %h2 Initials
            %br
            %input{ type: 'button', id: 'initial-all', value: 'All' }
            %input{ type: 'button', id: 'initial-none', value: 'None' }
            %br
            %br

            = render_syllable_list('initial')

          #finals
            %h2 Finals
            %br
            %input{ type: 'button', id: 'final-all', value: 'All' }
            %input{ type: 'button', id: 'final-none', value: 'None' }
            %br
            %br

            = render_syllable_list('final')

          .clear


        %p.showHideTutorial
          %a &#x25B4;&nbsp; Hide tutorial
        %p.showHideSyllable
          %a &#x25B4;&nbsp; Show syllable filters

      .clear

      %ul#difficulty
        %li
          %a.diff1{ :href => '#' }
            = t :beginner
        %li
          %a.diff2{ :href => '#' }
            = t :easy
        %li
          %a.diff3{ :href => '#' }
            = t :medium
        %li
          %a.diff4{ :href => '#' }
            = t :hard
        %li
          %a.diff5{ :href => '#' }
            = t :advanced

      .clear

      #controls
        .half-width.play
          %input.controls-button{ :type => 'button', :value => "#{t :play}" }
        .half-width.hint
          %input.controls-button{ :type => 'button', :value => "#{t :hint}" }

      .clear

      #progressBar
        %span.pbLabel

      #userinputwrapper
        %input#userinput{ :type => 'text' }

      #notifications
        #correctProgress
        #hint
        #translationHanzi
        #translationEnglish
        #instructions
          %input.next.controls-button{ :type => 'button', :value => "#{t :next}" }

      #question
        = render :partial => '/dictator/question'
      #audioContent
        %audio#audio{:src => @question.uri }

#tools.section
  .contentBox
    .container
      %p= t(:tools).html_safe

#about.section
  .contentBox
    .container
      %p= t(:about).html_safe

