#learn.section
  .contentBox
    .container
      #tutorial
        .content
          %p 
            Hey there! Chinese Dictator will help improve your Chinese listening skills. 

          %ol
            %li Press 'Play' to hear an audio clip.
            %li 
              Type the pinyin for the audio you heard. For example: "ni3 hao3".
              You must have correct tones!
            %li 
              Use the hint button if you can't figure out the appropriate
              word or tone.
            %li
              Once you've successfully completed a dictation, press Enter to move on.

        %p.showHide 
          %a &#x25B4;&nbsp; Hide tutorial
      %ul#difficulty
        %li
          %a.diff1{ :href => '#' }
            = t :beginner
        %li
          %a.diff2{ :href => '#' }
            = t :easy
        %li
          %a.diff3{ :href => '#' }
            = t :medium
        %li
          %a.diff4{ :href => '#' }
            = t :hard
        %li
          %a.diff5{ :href => '#' }
            = t :advanced

      .clear

      #controls
        .half-width.play
          %input.controls-button{ :type => 'button', :value => "#{t :play}" }
        .half-width.hint
          %input.controls-button{ :type => 'button', :value => "#{t :hint}" }

      .clear

      #progressBar
        %span.pbLabel

      #userinputwrapper
        %input#userinput{ :type => 'text' }

      #notifications
        #correctProgress
        #hint
        #translationHanzi
        #translationEnglish
        #instructions
          %input.next.controls-button{ :type => 'button', :value => "#{t :next}" }
          

      #question
        = render :partial => '/dictator/question'
      %audio#audio{:src => @question.uri }

#tools.section
  .contentBox
    .container
      = t :tools

#about.section
  .contentBox
    .container
      = t :about

